# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
build/
dist/
*.egg-info/

# --- Testes e Cobertura ---
.pytest_cache/
.coverage
htmlcov/

# --- Dados Geospaciais e LiDAR (Crucial para o seu projeto) ---
# Ignoramos a pasta de cache local da biblioteca
.geosp_laz_api/

# Ignoramos dados brutos baixados para teste ou análise
data/raw/
data/processed/
*.laz
*.zip
*.shp
*.shx
*.dbf
*.prj
*.cpg

# --- VS Code e Sistema ---
.vscode/
.DS_Store
Thumbs.db
